.language-switcher {
  display: inline-block;
  position: relative;
  padding: 20px;
  margin: 10px;
}

.dropdown-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding:5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #4CAF50;
}

.globe-icon {
  margin-right: 5px;
}

.current-lang {
  font-size: 14px;
  font-weight: 500;
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown-item {
  width: 100%;
  padding: 8px 10px;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #45a049;
}

.dropdown-item.active {
  font-weight: bold;
}
